body {
    background-color: #DCDCDC
}


p, h1{
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
    padding: 10px;
}

@media screen and (max-width: 168px) {
  
    body {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }    
}
  


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    body {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    body {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
    body {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
}
    
/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    body {
        /* Box-model */
        width: 100%;
        padding: 20px;
      }
    
}